.next
node_modules
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
dist
generated
api/generated
api/node_modules
api/dist
api/coverage
docker-compose*.yml
.env*
!.env.example
!.env.development.example
tsconfig.tsbuildinfo
api/tsconfig.tsbuildinfo
