
.activeCharacter {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--color-text-secondary);
  font-size: 1rem;
}

.activeCharacter strong {
  color: var(--color-text-primary);
}


.container {
  padding: 10px;
}


